*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f6f8f9;
}

/* strat header */
header{
  background-color: white;
  margin-bottom: 2rem;
}

header img{
  height: 7rem;
}

header h1{
  display: inline-block;
  font-size: 3rem;
  vertical-align: top;
  padding-top: 2rem;
}
/* end header */

/* start main */
main{
  width: 42rem;
  background-color: white;
  margin: 0 auto;
  padding: 1rem 0;
}

/* start nav */
nav{
  border-bottom: 2px solid #f6f8f9;
  padding: 0 2rem 0.5rem 2rem;
}

nav button, nav input{
  padding: .4rem;
  border-radius: 5px;
}

nav button {
  background-color: #47adf1;
  color: white;
  border: none;
}

nav input{
  border: 1px solid #ccd2d6;
  width: 6rem;
}

input::placeholder{
  color: #ccd2d6;
}

/* end nav */





