*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f6f8f9;
}

/* strat header */
header{
  background-color: white;
  margin-bottom: 2rem;
}

header img{
  height: 6rem;
}

header h1{
  display: inline-block;
  font-size: 3rem;
  vertical-align: top;
  line-height: 6rem;
}
/* end header */

/* start main */
main{
  width: 42rem;
  background-color: white;
  margin: 0 auto;
  padding: 1rem 0;
}

/* start nav */
nav{
  border-bottom: 2px solid #f6f8f9;
  padding: 0 2rem 0.5rem 2rem;
}

nav button, nav input{
  padding: .4rem;
  border-radius: 5px;
}

nav button {
  background-color: #47adf1;
  color: white;
  border: none;
}

nav input{
  border: 1px solid #ccd2d6;
  width: 6rem;
}

input::placeholder{
  color: #ccd2d6;
}

/* end nav */

/* start windows part */

section{
  margin: 2rem;
}

section h2 span{
  vertical-align: -webkit-baseline-middle;
  font-size: 2rem;
}

li{
  list-style: none;
  font-weight: bold;
  margin-bottom: 2rem;
}

span.check, span.cross{
  border: 2px solid;
  border-radius: 100%;
  padding: 0 0.15rem;
  font-size: 0.6rem;
  
}

span.check{
  color: #64c0a9;
  border-color: #64c0a9;
}

span.cross{
  color: #eb5851;
  border-color: #eb5851;
}


span.rettangle{
  color: white;
  font-weight: initial;
  font-size: 0.6rem;
  border-radius: 10px;
  padding: 0.4rem;
}

span.blue{
  background-color: #47adf1;
}

span.purple{
  background-color: #9c72e4;
}

span.green{
  background-color: #64c0a9;
}

span.orange{
  background-color: #f29e33;
}

span.magenta{
  background-color: #d863a1;
}

span.lightgreen{
  background-color: #b0c926;
}
/* end windows part */
/* end main */



